footer {
    background-color: #191A23;
    color: white;
    padding: 40px 20px;
    text-align: center;
    margin-top: 40px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.footer-logo h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 5px 0;
}

 .footer-links ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links ul li a:hover {
    text-decoration: underline;
} 

.footer-contact p {
    margin: 5px 0;
}

/* .footer-social a img {
    width: 30px;
    margin: 5px;
    transition: transform 0.3s;
}

.footer-social a img:hover {
    transform: scale(1.2);
} */

.footer-bottom {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

@media only screen and (max-width: 320px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}
}

@media only screen and (max-width: 480px) {
    .footer-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}
}

@media only screen and (max-width: 600px) {
    .footer-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}
}

@media only screen and (max-width: 768px) {
    .footer-container {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    margin: auto;
}
}