.image-container {
  position: relative;
  max-height: 400px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 400px;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.content-wrapper {
  position: absolute;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

.detail-top,
.detail-bottom {
  max-width: 600px;
  margin-bottom: 20px;
}



.btn-scan button {
  background-color: #B9FF66;
  font-weight: bold;
  width: 140px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.btn-scan button:hover {
  background-color: #a0e85b;
}
